<section class="first-background">
  <div class="container">
    <section class="hero white-color is-medium">
      <div class="hero-body">
        <div class="container">
          <h1 class="white-color">
            Willkommen bei Suppoyo
            <br>
            #WirVsVirus
          </h1>
          <section class="columns">
            <section class="column">
              Suppoyo hilft allen, die in Krisenzeiten ihr Haus nicht
              verlassen können oder dürfen, auch weiterhin mit den
              wichtigsten Einkäufen versorgt zu bleiben. Wir verbinden
              lokale, engagierte Freiwillige mit Bedürftigen, um die
              Gefahr einer Ansteckung zu minimieren.
            </section>
            <section class="column">
            </section>
          </section>
          <a href="/register">
            <button class="button is-primary is-rounded letsgo">Los geht's!</button>
          </a>
        </div>
      </div>
    </section>
  </div>
</section>

<section class="section is-small">
  <div class="container is-small has-text-centered">
    <div class="columns">
      <div class="column">
        <sup-goal goalDescription="Wer sein Haus nicht verlassen kann,
			muss zuverlässig versorgt werden." goalIcon="fa-shopping-cart" goalName="Versorgen"></sup-goal>
      </div>
      <div class="column divider is-0"></div>
      <div class="column">
        <sup-goal goalDescription="Sicherheit durch verifizierte und bestätigte
			Helfer." goalIcon="fa-hands-helping" goalName="Vertrauen"></sup-goal>
      </div>
      <div class="column divider is-0"></div>
      <div class="column">
        <sup-goal goalDescription="Eine Plattform, die Freiwillige und
			Bedürftige verbinde" goalIcon="fa-people-arrows" goalName="Verbinden"></sup-goal>
      </div>
    </div>
  </div>
</section>

<section class="hero is-large">
  <div class="grocery-background"></div>
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Jetzt mitmachen - Einfach und Zuverlässig
      </h1>
      <div class="tile is-ancestor">
        <div class="tile is-child box">
          <a href="/register">
            <sup-role-tile roleClass="helper" roleDescription="Du bist von einer Ansteckung besonders gefährdet oder befindest
							Dich momentan in häuslicher Quarantäne und hast somit keine
							Möglichkeit, Deine grundlegende Versorgung aufrecht zu erhalten?
							Schick uns Deinen Einkaufszettel, wir erledigen alles Weitere."
                           roleImage="assets/icons/hilfesuchender.png"
                           roleName="Ich bin Hilfesuchende:r">
            </sup-role-tile>
          </a>
        </div>
        <div class="tile is-1 is-child"></div>
        <div class="tile is-child box">
          <a class="is-link" href="/register">
            <sup-role-tile roleClass="seekingHelp" roleDescription="Du bist jung, hast Zeit und möchtest Dich für Hilfsbedürftige in Deiner
							Umgebung engagieren? Klasse! Hier findest du zu erledigende
							Einkäufe in deiner Region." roleImage="assets/icons/helfer.png"
                           roleName="Ich bin Helfer:in oder Helfergruppe"></sup-role-tile>
          </a>
        </div>
      </div>

    </div>
  </div>
</section>
