@import '../../../_variables';

.level {
  align-items: flex-start;
}

.subtitle {
  color: lightgrey;
}

.hero {
  position: relative;
  overflow: hidden;
}

.is-info {
  min-height: 70vmin;
}

.grocery-background {
  // filter: blur(4px);
  left: -15px;
  right: -15px;
  top: -15px;
  bottom: -15px;
  position: absolute;
  width: calc(100% + 30px);
  height: calc(100% + 30px);
	//https://unsplash.com/photos/D6Tu_L3chLE
	background-image: url('src/assets/backgrounds/start-second.png');
	background-position: center;
	background-repeat: no-repeat;
  background-size: cover;

  .container {
    // backdrop-filter: grayscale(0.5) opacity(0.8);
  }
}

.margin-bottom {
  margin-bottom: 80px;
}

.tile.is-child.is-1 {
  width: 20px;
}

.title {
  margin-bottom: 3.5rem;
  text-transform: uppercase;
  color: white;
}

.hero-body {
  padding-top: 6rem !important;
}

.first-background {
  font-size: 18px;
  line-height: 27px;
  background-image: url('src/assets/backgrounds/start-first.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

button.letsgo {
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  /* UI Properties */
  width: 260px;
  height: 54px;
  padding: 1.5em 5em !important;
  letter-spacing: 0;
  color: $white;
  border-radius: 24px;
  background: $purple 0 0 no-repeat padding-box;
  box-shadow: 0 3px 6px #6563FF29;
}

.white-color {
  color: white;
}

@media screen and (min-width: 900px) {
  .divider {
    height: 6.5em;
    margin-top: 1em;
    border-right: 3px solid $mid-grey;
  }


}
