@font-face {
	font-family: 'Bebas Neue';
	src: url('assets/fonts/Bebas-Neue/BebasNeueLight.eot');
	src: url('assets/fonts/Bebas-Neue/BebasNeueLight.eot?#iefix') format('embedded-opentype'), url('assets/fonts/Bebas-Neue/BebasNeueLight.woff2') format('woff2'),
		url('assets/fonts/Bebas-Neue/BebasNeueLight.woff') format('woff'), url('assets/fonts/Bebas-Neue/BebasNeueLight.ttf') format('truetype'),
		url('assets/fonts/Bebas-Neue/BebasNeueLight.svg#BebasNeueLight') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Bebas Neue';
	src: url('assets/fonts/Bebas-Neue/BebasNeueRegular.eot');
	src: url('assets/fonts/Bebas-Neue/BebasNeueRegular.eot?#iefix') format('embedded-opentype'), url('assets/fonts/Bebas-Neue/BebasNeueRegular.woff2') format('woff2'),
		url('assets/fonts/Bebas-Neue/BebasNeueRegular.woff') format('woff'), url('assets/fonts/Bebas-Neue/BebasNeueRegular.ttf') format('truetype'),
		url('assets/fonts/Bebas-Neue/BebasNeueRegular.svg#BebasNeueRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Bebas Neue';
	src: url('assets/fonts/Bebas-Neue/BebasNeue-Thin.eot');
	src: url('assets/fonts/Bebas-Neue/BebasNeue-Thin.eot?#iefix') format('embedded-opentype'), url('assets/fonts/Bebas-Neue/BebasNeue-Thin.woff2') format('woff2'),
		url('assets/fonts/Bebas-Neue/BebasNeue-Thin.woff') format('woff'), url('assets/fonts/Bebas-Neue/BebasNeue-Thin.ttf') format('truetype'),
		url('assets/fonts/Bebas-Neue/BebasNeue-Thin.svg#BebasNeue-Thin') format('svg');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Bebas Neue';
	src: url('assets/fonts/Bebas-Neue/BebasNeue.eot');
	src: url('assets/fonts/Bebas-Neue/BebasNeue.eot?#iefix') format('embedded-opentype'), url('assets/fonts/Bebas-Neue/BebasNeue.woff2') format('woff2'),
		url('assets/fonts/Bebas-Neue/BebasNeue.woff') format('woff'), url('assets/fonts/Bebas-Neue/BebasNeue.ttf') format('truetype'), url('assets/fonts/Bebas-Neue/BebasNeue.svg#BebasNeue') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Bebas Neue Book';
	src: url('assets/fonts/Bebas-Neue/BebasNeueBook.eot');
	src: url('assets/fonts/Bebas-Neue/BebasNeueBook.eot?#iefix') format('embedded-opentype'), url('assets/fonts/Bebas-Neue/BebasNeueBook.woff2') format('woff2'),
		url('assets/fonts/Bebas-Neue/BebasNeueBook.woff') format('woff'), url('assets/fonts/Bebas-Neue/BebasNeueBook.ttf') format('truetype'),
		url('assets/fonts/Bebas-Neue/BebasNeueBook.svg#BebasNeueBook') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Bebas Neue';
	src: url('assets/fonts/Bebas-Neue/BebasNeueRegular_1.eot');
	src: url('assets/fonts/Bebas-Neue/BebasNeueRegular_1.eot?#iefix') format('embedded-opentype'), url('assets/fonts/Bebas-Neue/BebasNeueRegular_1.woff2') format('woff2'),
		url('assets/fonts/Bebas-Neue/BebasNeueRegular_1.woff') format('woff'), url('assets/fonts/Bebas-Neue/BebasNeueRegular_1.ttf') format('truetype'),
		url('assets/fonts/Bebas-Neue/BebasNeueRegular_1.svg#BebasNeueRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Bebas Neue';
	src: url('assets/fonts/Bebas-Neue/BebasNeue-Thin_1.eot');
	src: url('assets/fonts/Bebas-Neue/BebasNeue-Thin_1.eot?#iefix') format('embedded-opentype'), url('assets/fonts/Bebas-Neue/BebasNeue-Thin_1.woff2') format('woff2'),
		url('assets/fonts/Bebas-Neue/BebasNeue-Thin_1.woff') format('woff'), url('assets/fonts/Bebas-Neue/BebasNeue-Thin_1.ttf') format('truetype'),
		url('assets/fonts/Bebas-Neue/BebasNeue-Thin_1.svg#BebasNeue-Thin') format('svg');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Bebas Neue Book';
	src: url('assets/fonts/Bebas-Neue/BebasNeueBook_1.eot');
	src: url('assets/fonts/Bebas-Neue/BebasNeueBook_1.eot?#iefix') format('embedded-opentype'), url('assets/fonts/Bebas-Neue/BebasNeueBook_1.woff2') format('woff2'),
		url('assets/fonts/Bebas-Neue/BebasNeueBook_1.woff') format('woff'), url('assets/fonts/Bebas-Neue/BebasNeueBook_1.ttf') format('truetype'),
		url('assets/fonts/Bebas-Neue/BebasNeueBook_1.svg#BebasNeueBook') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Bebas Neue';
	src: url('assets/fonts/Bebas-Neue/BebasNeueLight_1.eot');
	src: url('assets/fonts/Bebas-Neue/BebasNeueLight_1.eot?#iefix') format('embedded-opentype'), url('assets/fonts/Bebas-Neue/BebasNeueLight_1.woff2') format('woff2'),
		url('assets/fonts/Bebas-Neue/BebasNeueLight_1.woff') format('woff'), url('assets/fonts/Bebas-Neue/BebasNeueLight_1.ttf') format('truetype'),
		url('assets/fonts/Bebas-Neue/BebasNeueLight_1.svg#BebasNeueLight') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Bebas Neue';
	src: url('assets/fonts/Bebas-Neue/BebasNeueBold.eot');
	src: url('assets/fonts/Bebas-Neue/BebasNeueBold.eot?#iefix') format('embedded-opentype'), url('assets/fonts/Bebas-Neue/BebasNeueBold.woff2') format('woff2'),
		url('assets/fonts/Bebas-Neue/BebasNeueBold.woff') format('woff'), url('assets/fonts/Bebas-Neue/BebasNeueBold.ttf') format('truetype'),
		url('assets/fonts/Bebas-Neue/BebasNeueBold.svg#BebasNeueBold') format('svg');
	font-weight: bold;
	font-style: normal;
}
