<section class="container">
	<section class="columns">
		<section class="column infos">
			<h1>Bestellung</h1>
			<h2>Einkaufsliste Anfragen</h2>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas vero, totam voluptatum natus et cum
				voluptatem assumenda laudantium quae cupiditate reprehenderit exercitationem necessitatibus quasi eum
				amet,
				nemo autem hic? Nam.
			</p>
		</section>
		<section class="column">
			<form [formGroup]="orderForm">
				{{orderForm.errors}}
				<section>
					<div class="step" [ngClass]="{
							'valid': (
							orderForm.get('price').touched || 
							orderForm.get('price').dirty) && 
							orderForm.get('price').valid, 
						'invalid': (
							orderForm.get('price').touched || 
							orderForm.get('price').dirty) && 
							orderForm.get('price').invalid
						}">
						<span>1</span></div>
					<h2>Preisspanne festlegen</h2>
					<section class="price-span" formGroupName="price">
						<section class="field">
							<p class="control has-icons-left has-icons-right">
								<input class="input has-custom-icon" formControlName="totalPriceFrom" min="1" max="99"
									step="1" type="number" placeholder="10">
								<span class="icon custom-icon is-small is-left">
									Preis von:
								</span>
								<span class="icon is-right">
									,-€
								</span>
							</p>
						</section>
						<section class="field">
							<p class="control has-icons-left has-icons-right">
								<input class="input has-custom-icon" formControlName="totalPriceTo" min="5" max="100"
									step="1" type="number" placeholder="30">
								<span class="icon custom-icon is-small is-left">
									Preis bis:
								</span>
								<span class="icon is-right">
									,-€
								</span>
							</p>
						</section>
					</section>
				</section>
				<section>
					<div class="step" [ngClass]="{
						'valid': (
						orderForm.get('products').touched || 
						orderForm.get('products').dirty) && 
						orderForm.get('products').valid, 
					'invalid': (
						orderForm.get('products').touched || 
						orderForm.get('products').dirty) && 
						orderForm.get('products').invalid
					}"><span>2</span></div>
					<h2>Einkaufsliste erstellen</h2>
					<ng-container formArrayName="products">
						<section class="product" *ngFor="let item of orderForm.get('products')['controls']; index as i">
							<ng-container [formGroupName]="i">
								<div class="field">
									<input class="input" type="text" placeholder="Produkt" formControlName="product">
								</div>
								<div class="field count">
									<p class="control has-icons-left has-icons-right">
										<input #countInput class="input count" type="number" min="1" step="1"
											placeholder="1" formControlName="count">
										<span class="icon is-small is-left" (click)="decrement(countInput)">
											<i class="fas fa-minus"></i>
										</span>
										<span class="icon is-small is-right" (click)="increment(countInput)">
											<i class="fas fa-plus"></i>
										</span>
									</p>
								</div>
								<!-- <ng-container [ngSwitch]="getValue(i)">
									<span class="icon" *ngSwitchCase="true">
										<i class="far fa-star"></i>
									</span>
									<span class="icon" *ngSwitchCase="false">
										<i class="fas fa-star"></i>
									</span>
								</ng-container> -->
							</ng-container>
						</section>
					</ng-container>
					<button class="button" (click)="addFormGroup()">
						<span class="icon is-small">
							<i class="fas fa-plus"></i>
						</span>
					</button>
				</section>
				<section>
					<div class="step"><span>3</span></div>
					<h2>Sonstige Bemerkungen</h2>
					<section class="notes">
						<div class="field notes">
							<textarea class="textarea" placeholder="e.g. Hello world"></textarea>
						</div>
					</section>
				</section>
				<button type="submit" class="button is-primary">
					Anfrage absenden
				</button>
			</form>
		</section>
	</section>
</section>