@import '../../../variables';
$left-width: 6em;

.control.has-icons-left .icon.custom-icon,
.control.has-icons-right .icon.custom-icon {
    width: $left-width;
}

.control.has-icons-right .input.has-custom-icon {
    padding-left: $left-width;
}

.price-span {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    width: 400px;

    .field {
        margin-right: 10px;
    }
}

.icon {
    color: black;
}

h2 {
    font-weight: 600;
}

.product {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .field {
        margin-right: 10px;
    }
}

.field {
    width: 180px;
    margin-bottom: 0.75rem;
}

.count {
    width: 110px;
    text-align: center;
}

.icon.is-small {
    pointer-events: initial;
}

.notes {
    width: unset;
}
form {
    margin: {
        top: 20px;
        left: 50px;
        right: 30px;
        bottom: 30px;
    }

    border-left: 2px solid lightgrey;
    padding-left: 40px;
    position: relative;
}

.step {
    position: absolute;
    left: -26px;
    margin-top: -5px;
    border-radius: 50%;
    border: 2px solid lightgrey;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    span {
        height: 30px;
        width: 30px;
        font-size: 30px;
        line-height: 30px;
        font-family: monospace;
        text-align: center;
    }
    &.valid {
        border-color: $green;
    }
    &.invalid {
        border-color: $orange;
    }
}

.infos {
    margin: {
        top: 20px;
        left: 50px;
        right: 30px;
        bottom: 30px;
    }
}
