.custom-padding {
    padding: 80px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
    height: 100px;
    width: 70%;
    margin: auto;
    button {
        flex: 0 0 200px;
    }
}

.bigger-spacing {
    margin: 0 30px;
}

.column-image {
    flex: 1 1 auto;
    border-radius: 20px;
}
.image-column {
    height: 400px;
}

section.container {
    margin-bottom: 80px;
}

.hero {
    border: 1px solid lightgrey;
}
