<section class="container">
	<h1 class="title has-text-centered">So funktionierts</h1>
	<nav>
		<button [ngClass]="{'is-primary': state === 'list'}" (click)="state = 'list'"
			class="button">Einkaufsliste</button>
		<button [ngClass]="{'is-primary': state === 'pricespan'}" (click)="state = 'pricespan'"
			class="button">Preisspanne</button>
		<button [ngClass]="{'is-primary': state === 'collect'}" (click)="state = 'collect'" class="button">Lieferung</button>
	</nav>
	<section class="hero is-light">
		<div class="hero-body">
			<div class="container custom-padding" [ngSwitch]="state">
				<section class="columns">
					<ng-container *ngSwitchCase="'list'">
						<section class="column bigger-spacing">
							<h3 class="title">Einkaufsliste schreiben</h3>
							Lieber Max, vielen Dank für Deine Registrierung, wir tun unser
							Bestes, Dir zu helfen. Jetzt kann es losgehen:
							In der Eingabe kannst du Deine Einkaufsliste mit
							Mengenangaben sowie weitere Hinweise angeben
						</section>
						<section class="column bigger-spacing">
							<img class="column-image" src="assets/images/shoppinglist.png">
						</section>
					</ng-container>
					<ng-container *ngSwitchCase="'pricespan'">
						<section class="column bigger-spacing">
							<h3 class="title">Preisspanne festlegen</h3>
							Um dem Helfer einen Anhaltspunkt zu geben, definiere bitte eine Preisspanne. Solange der
							Preis in diesem Bereich liegt, bist Du verpflichtet, ihn auch zu bezahlen!
						</section>
						<section class="column bigger-spacing">
							<!-- https://unsplash.com/photos/8kt15NpxOYU -->
							<img class="column-image" src="assets/images/grocery-price.png">
						</section>
					</ng-container>
					<ng-container *ngSwitchCase="'collect'">
						<section class="column bigger-spacing">
							<h3 class="title">Einkäufe entgegennehmen</h3>
							Sobald Dein Helfer sich Deiner Bestellung angenommen hat, dokumentiert er den Preis und
							liefert.
						</section>
						<section class="column bigger-spacing image-column">
							<!-- https://unsplash.com/photos/phUtWl8RyFE -->
							<img class="column-image" src="assets/images/grocery-delivery.png">
						</section>
					</ng-container>
				</section>
			</div>
		</div>
	</section>
</section>