<section class="section">
  <div class="container is-fluid">
    <h1>Impressum</h1>
    <p><strong>Muster GmbH</strong></p>
    <p>Musterstr. 1<br /> 12345 Musterstadt<br /> Deutschland</p>
    <p>Telefon: 1234567890</p>
    <p> </p>
    <p>Mail: test@muster.de</p>
    <p> </p>
    <p>Vertretungsberechtigter Vorstand: Max Mustermann (Vorsitzender)</p>
    <p> </p>
    <p>Genossenschaftsregister: Amtsgericht Musterstadt, Musterstadt 1234</p>
    <p>Kleinunternehmer gem&auml;&szlig; &sect; 19 UStG</p>
    <p> </p>
    <p>Die Europ&auml;ische Kommission stellt eine Plattform zur Online-Streitbeilegung (OS) bereit, die Sie hier finden
      <a href="https://ec.europa.eu/consumers/odr/" target="_blank">https://ec.europa.eu/consumers/odr/</a>. Zur
      Teilnahme
      an einem Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle sind wir nicht verpflichtet und nicht
      bereit. <br>
      <p><i><a target="_blank" title="Impressum" href="https://shop.trustedshops.com/de/rechtstexte/">Impressum</a>
          erstellt mit dem <a target="_blank" title="Trusted Shops" href="https://shop.trustedshops.com/de/">Trusted
            Shops</a> Rechtstexter in Kooperation mit <a target="_blank" title="FÖHLISCH Rechtsanwälte"
            href="https://foehlisch.com" rel="nofollow">FÖHLISCH Rechtsanwälte</a>.</i></p>
  </div>
</section>
