@import '../../_variables';

:host {
  display: block;
  width: 90vw;
  min-height: 70vh;
  margin: {
    top: 5vh;
    right: auto;
    left: auto;
  }
  @media screen and (min-width: 768px) {
    width: 50vw;
    min-width: 800px;
    min-height: 70vh;
  }
}

button {
  display: block;
  width: 80%;
  margin: 0 auto;
  border-radius: 0px;
}

form {
  padding-top: 3px;
}
