<div class="section">
  <div class="container">
    <h1 class="title is-1 has-text-centered">Login</h1>
    <div class=" columns">
      <div class="column">
        <h2>Wir freuen uns dich wieder zu sehen</h2>
        <small class="has-text-grey">Schön, dass Du wieder da bist – weiter geht's!
        </small>
      </div>
      <div class="column">
        <form [formGroup]="loginForm" (ngSubmit)="login()">
          <div class="field">
            <input formControlName="mail" class="input" type="text" placeholder="E-Mail">
          </div>
          <div class="field">
            <input formControlName="password" class="input" type="password" placeholder="Passwort">
          </div>
          <div class="field">
            <div class="control">
              <button class="button is-primary is-rounded">Einloggen</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
