@import '../../../_variables';

:host > div {
    display: flex;
}

section > p.title {
    color: black;
    //margin-bottom: 10px;
}

.description {
  color: #9f9faf;
}

.avatar {
    margin-right: 20px;
}

.tile {
  padding: 10px;
}

.box {
  box-shadow: 0 12px 10px #6060602E;
  border-radius: 12px;
}

img {
  height: 50px;
  width: 50px;
  max-width: unset;
}

h2.helper {
  color: $purple;
}

h2.seekingHelp {
  color: $green;
}

.tilemerge {
  padding-top: 5px;
}

