<div class="tile">
	<section class="avatar"><img [src]="roleImage" width="50" height="50" alt="avatar"></section>
	<section class="tilemerge">
		<h2 class="{{roleClass}}">{{roleName}}</h2>
		<p class="description">{{roleDescription}}</p>
	</section>
</div>
