@import '../../../_variables';

:host {
  display: flex;
  flex-flow: row nowrap;
}

.description {
  color: $dark-grey;
}

.content {
  width: 70%;
  padding-top: 0.4em;
  text-align: left;
}

@mixin widthAndHeightForIcon($size) {
	width: $size;
	height: $size;
}

.icon {
  margin: 0 2.5vw;
  color: $black;
  @include widthAndHeightForIcon(2em);

  * {
    @include widthAndHeightForIcon(2em);
  }
}
