@import '../../../_variables';

:host {
  display: block;
  width: 90vw;
  margin: {
    top: 5vh;
    right: auto;
    left: auto;
  }
  @media screen and (min-width: 768px) {
    width: 50vw;
    min-width: 800px;
  }
}

.select,
select {
  width: 100%;
}

h1 {
  margin: {
    bottom: 70px !important;
  }
}

button {
  display: block;
  width: 80%;
  margin: 0 auto;
  border-radius: 0px;
}

section[formGroupName='password'] {
  margin-bottom: 0.75rem;
}

.icon.is-small.is-right {
  pointer-events: initial;
}
