<section class="section">
  <div class="container">
    <h1 class="title has-text-centered">Registrierung</h1>
    <div class="columns">
      <div class="column">
        <h2>Wir freuen uns dich dabei zu haben</h2>
        <p class="has-text-grey">Keine Sorge, Deine Daten sind bei uns sicher –
          verschlüsselt und anonym.</p>
      </div>
      <div class="column">
        <form [formGroup]="registerForm" (ngSubmit)="register()">
          <div class="field">
            <input formControlName="name" class="input" type="text" placeholder="Vor-, Nachname">
			</div>
			<section formGroupName="password">
				<div class="field">
					<p class="control has-icons-right">
						<input #password formControlName="password" class="input"
							[type]="showPassword ? 'text' : 'password'" placeholder="Passwort">
						<span class="icon is-small is-right" *ngIf="showPassword === false"
							(click)="showPassword = true">
							<i class="fas fa-eye"></i>
						</span>
						<span class="icon is-small is-right" *ngIf="showPassword === true"
							(click)="showPassword = false">
							<i class="fas fa-eye-slash"></i>
						</span>
					</p>
				</div>
				<div class="field">
					<p class="control has-icons-right">
						<input formControlName="confirmPass" class="input"
							[type]="showPasswordConfirm ? 'text' : 'password'" placeholder="Passwort bestätigen">
						<span class="icon is-small is-right" *ngIf="showPasswordConfirm === false"
							(click)="showPasswordConfirm = true">
							<i class="fas fa-eye"></i>
						</span>
						<span class="icon is-small is-right" *ngIf="showPasswordConfirm === true"
							(click)="showPasswordConfirm = false">
							<i class="fas fa-eye-slash"></i>
						</span>
					</p>
				</div>
			</section>
			<div class="field">
				<input formControlName="phone" class="input" type="tel" placeholder="Telefon">
			</div>
			<div class="field">
				<input formControlName="address" class="input" type="text" placeholder="Adresse">
			</div>
			<div class="field">
				<p class="control has-icons-left">
					<span class="icon is-small is-left">
						<i class="fas fa-envelope"></i>
					</span>
					<input formControlName="mail" class="input" type="email" placeholder="E-Mail">
				</p>
			</div>
			<div class="field">
				<div class="select">
					<select formControlName="role">
						<option [ngValue]="null" disabled>Auswahl der Rolle - Helfer/Hilfebedürftige</option>
						<option *ngFor="let role of roles" [ngValue]="role.key">{{role.value}}</option>
					</select>
				</div>
			</div>
			<div class="field">
        <textarea class="textarea" formControlName="notes" placeholder="Sonstige Informationen"></textarea>
      </div>
          <div class="field">
            <div class="control">
              <button class="button is-primary is-rounded">Registrieren</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
