<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="assets/suppoyo-logo.svg" width="120">
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
      data-target="navbarBasicExample" (click)="toggleNav($event)" [ngClass]="{'is-active': open}">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu" [ngClass]="{'is-active': open}">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons are-normal">
          <a href="/login" class="button is-white is-rounded">
            Login
          </a>
          <a href="/register" class="button is-primary is-outlined is-rounded">
            Registrieren
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
