//Suppoyo CI Colors

$orange: #ffab52;
$green: #5bd7a7;
$purple: #6563ff;

$black: #1d1d1d;
$dark-grey: #9F9FAF;
$mid-grey: #C7C7D4;
$light-grey: #f2f2f9;
$white: #ffffff;

//Bulma overwrite defaults
$primary: $purple;

