/* You can add global styles to this file, and also import other style files */
@import './assets/fonts/Bebas-Neue/bepas-neue.scss';
@import './_variables';
@import "../node_modules/bulma/bulma.sass";

* {
  font-family: 'Montserrat', sans-serif;
}

@for $i from 1 through 6 {
  h#{$i} {
    font-family: 'Bebas Neue', sans-serif;
  }
}

h1 {
  font-size: 72px;
  font-weight: 700;
  line-height: 76px;
  letter-spacing: 0;
}

h2 {
  font-size: 28px !important;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0;
  opacity: 1;
  color: $black;
}

h3 {
  font-weight: 700;
  letter-spacing: 0;
  opacity: 1;
  color: $black;
}

h4 {
  font-weight: 700;
  letter-spacing: 0;
  opacity: 1;
  color: $dark-grey;
}

a {
  color: $purple;
}

.button {
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0;
  text-transform: uppercase;
}

body {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  width: 100vw;
  max-height: 100vh;
  letter-spacing: 0;
}

@media screen and (min-width: 900px) {
  .navbar {
    min-height: 7rem;
  }

  .navbar-item {
    margin-right: 5vw;
  }

  .navbar-brand {
    margin-left: 5vw;
  }

  .separated-level {
    .level-item {
      border-right: 3px solid lightgray;
    }

    .level-item:last-child {
      border-right: none;
    }
  }
}

sup-root {
  display: block;
  width: 100%;
  height: 100%;
}

.title {
  font-family: 'Bebas Neue', sans-serif !important;
  font-size: 72px;
  font-weight: 700;
  line-height: 76px;
  letter-spacing: 0;
  color: $purple;
}

.image-column {
  display: flex !important;
  align-items: center;
  justify-content: center;

  svg {
    width: 5em !important;
    height: 5em !important;
  }
}


