<footer class="footer columns">
  <div class="column">
    <img alt="SUPPOYO" src="/assets/suppoyo-logo.svg" width="120">
  </div>
  <div class="column">
    <a href="/imprint">
      Impressum
    </a>
  </div>
  <div class="column">
    <a href="">
      Datenschutzerklärung
    </a>
  </div>
  <div class="column">
    <a href="">
      AGBs
    </a>
  </div>
</footer>
